.navbar {
    height: 50px;
    border: 1px solid #2C3E50;
    border-radius: unset;
}
.navbar-brand {
    font-size: 20px;
    cursor: default;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
